# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Sharykin-Lab10/.vs/Sharykin-Lab10/v15/Browse.VC.opendb
/Sharykin-Lab11/.vs/Sharykin-Lab11/v15/Browse.VC.opendb
/Sharykin-Lab12/.vs/Sharykin-Lab12/v15/Browse.VC.opendb
/Sharykin-Lab13/.vs/Sharykin-Lab13/v15/Browse.VC.opendb
/Sharykin-Lab14/.vs/Sharykin-Lab14/v15/Browse.VC.opendb
/.vs/Labs-Work/v15/Browse.VC.opendb
/Sharykin-Lab16/.vs/Sharykin-Lab16/v15/Browse.VC.opendb
/Sharykin-Lab17/.vs/Sharykin-Lab17/v15/Browse.VC.opendb
